# Factors and ordered factors

In [2]:
vec1 <- c('Masc', 'Femme', 'Masc', 'Femme', 'Femme')
vec1
fac1 <- factor(vec1)
fac1
class(fac1)

[1] "Masc"  "Femme" "Masc"  "Femme" "Femme"

[1] Masc  Femme Masc  Femme Femme
Levels: Femme Masc

[1] "factor"

In [4]:
animals <- c('Lion', 'Panter', 'Tiger')
animals
class(animals)
f_animals <- factor(animals)
f_animals
class(f_animals)
levels(f_animals)

[1] "Lion"   "Panter" "Tiger"

[1] "character"

[1] Lion   Panter Tiger
Levels: Lion Panter Tiger

[1] "factor"

[1] "Lion"   "Panter" "Tiger"

In [18]:
lev <- c('very low', 'low', 'low', 'low', 'medium','medium', 'high', 'very high', 'medium')
lev
class(lev)
f_lev <- factor(lev, order = TRUE, levels = c('very low', 'low', 'medium', 'high', 'very high'))
levels(f_lev)
summary(f_lev)
is.ordered(f_lev)

f_lev[1] > f_lev[5]
f_lev[1] < f_lev[5]

[1] "very low"  "low"       "low"       "low"       "medium"    "medium"
[7] "high"      "very high" "medium"

[1] "character"

[1] "very low"  "low"       "medium"    "high"      "very high"

 very low       low    medium      high very high
        1         3         3         1         1

[1] TRUE

[1] FALSE

[1] TRUE

In [14]:
numbers <- c(1,3,2,2,2,1,1,3,3,1,2)
l_numbers = factor(numbers, labels = c('I', 'II', 'III'))
l_numbers
summary(l_numbers)

 [1] I   III II  II  II  I   I   III III I   II
Levels: I II III

  I  II III
  4   4   3

In [1]:
vec1 <- c(1001, 1002, 1003, 1004, 1005)
vec2 <- c(0, 1, 1, 0, 2)
vec3 <- c('Green', 'Orange', 'Blue', 'Orange', 'Green')

In [2]:
df <- data.frame(vec1, vec2, vec3)
df

  vec1 vec2 vec3
1 1001 0    Green
2 1002 1    Orange
3 1003 1    Blue
4 1004 0    Orange
5 1005 2    Green

In [3]:
str(df)

'data.frame':	5 obs. of  3 variables:
 $ vec1: num  1001 1002 1003 1004 1005
 $ vec2: num  0 1 1 0 2
 $ vec3: Factor w/ 3 levels "Blue","Green",..: 2 3 1 3 2

In [4]:
levels(df$vec3)

[1] "Blue"   "Green"  "Orange"

In [6]:
df$cat1 <- factor(df$vec3, labels = c('color1', 'color2', 'color3'))
df

  vec1 vec2 vec3   cat1
1 1001 0    Green  color2
2 1002 1    Orange color3
3 1003 1    Blue   color1
4 1004 0    Orange color3
5 1005 2    Green  color2

In [8]:
df$cat2 <- factor(df$vec2, labels = c('Divorced', 'Married', 'Single'))
df
str(df)
levels(df$cat2)

  vec1 vec2 vec3   cat1   cat2
1 1001 0    Green  color2 Divorced
2 1002 1    Orange color3 Married
3 1003 1    Blue   color1 Married
4 1004 0    Orange color3 Divorced
5 1005 2    Green  color2 Single

'data.frame':	5 obs. of  5 variables:
 $ vec1: num  1001 1002 1003 1004 1005
 $ vec2: num  0 1 1 0 2
 $ vec3: Factor w/ 3 levels "Blue","Green",..: 2 3 1 3 2
 $ cat1: Factor w/ 3 levels "color1","color2",..: 2 3 1 3 2
 $ cat2: Factor w/ 3 levels "Divorced","Married",..: 1 2 2 1 3

[1] "Divorced" "Married"  "Single"