# Basic data types

In [1]:
num1 <- 7
num1

[1] 7

In [2]:
class(num1)

[1] "numeric"

In [3]:
mode(num1)

[1] "numeric"

In [4]:
typeof(num1)

[1] "double"

In [7]:
num2 = 15.45
num2

[1] 15.45

In [8]:
mode(num2)
typeof(num2)

[1] "numeric"

[1] "double"

In [9]:
is.integer(num2)

[1] FALSE

In [16]:
#Coercion
y = as.integer(num2)
y

[1] 15

In [11]:
class(y)
mode(y)
typeof(y)

[1] "integer"

[1] "numeric"

[1] "integer"

In [12]:
as.integer('3.92')

[1] 3

In [13]:
as.integer('joe')

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [15]:
as.integer(T)
as.integer(F)

[1] 1

[1] 0

# Strings

In [17]:
char1 = 'A'
char1
mode(char1)
typeof(char1)

[1] "A"

[1] "character"

[1] "character"

In [18]:
char2 = 'Science'
char2
mode(char2)
typeof(char2)

[1] "Science"

[1] "character"

[1] "character"

In [19]:
char3 = c('Data', 'Science', 'Analytics')
char3
mode(char3)
typeof(char3)

[1] "Data"      "Science"   "Analytics"

[1] "character"

[1] "character"

# Complex Numbers

In [21]:
compl = 2.5 + 4i
compl
mode(compl)
typeof(compl)

[1] 2.5+4i

[1] "complex"

[1] "complex"

In [22]:
sqrt(-1)

Warning message in sqrt(-1):
“NaNs produced”

[1] NaN

In [23]:
sqrt(-1+0i)

[1] 0+1i

In [24]:
sqrt(as.complex(-1))

[1] 0+1i

## Logic

In [25]:
x = 1 > 2
class(x)

[1] "logical"

# Operations with 0

In [26]:
5/0

[1] Inf

In [27]:
0/5

[1] 0