## Dataframe

In [1]:
import numpy as np
import pandas as pd

In [23]:
from numpy.random import randn

In [24]:
np.random.seed(101)

In [40]:
df = pd.DataFrame(randn(5,4), ['A','E','I','O','U'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
E -0.134841  0.390528  0.166905  0.184502
I  0.807706  0.072960  0.638787  0.329646
O -0.497104 -0.754070 -0.943406  0.484752
U -0.116773  1.901755  0.238127  1.996652

In [41]:
df['W']

A    0.302665
E   -0.134841
I    0.807706
O   -0.497104
U   -0.116773
Name: W, dtype: float64

In [29]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
E  0.651118  0.605965
I -2.018168 -0.589001
O  0.188695  0.955057
U  0.190794  0.683509

In [42]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
E -0.134841  0.390528  0.166905  0.184502  0.032064
I  0.807706  0.072960  0.638787  0.329646  1.446493
O -0.497104 -0.754070 -0.943406  0.484752 -1.440510
U -0.116773  1.901755  0.238127  1.996652  0.121354

In [43]:
df.drop('new', axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
E -0.134841  0.390528  0.166905  0.184502
I  0.807706  0.072960  0.638787  0.329646
O -0.497104 -0.754070 -0.943406  0.484752
U -0.116773  1.901755  0.238127  1.996652

In [44]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
E -0.134841  0.390528  0.166905  0.184502  0.032064
I  0.807706  0.072960  0.638787  0.329646  1.446493
O -0.497104 -0.754070 -0.943406  0.484752 -1.440510
U -0.116773  1.901755  0.238127  1.996652  0.121354

In [45]:
df.drop('new', axis=1, inplace=True)

In [47]:
df.drop('E')

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
I  0.807706  0.072960  0.638787  0.329646
O -0.497104 -0.754070 -0.943406  0.484752
U -0.116773  1.901755  0.238127  1.996652

In [48]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
E -0.134841  0.390528  0.166905  0.184502
I  0.807706  0.072960  0.638787  0.329646
O -0.497104 -0.754070 -0.943406  0.484752
U -0.116773  1.901755  0.238127  1.996652

In [51]:
df.shape # Tuple, axis = 0, axis = 1 (index for values in the tuple)

(5, 4)

In [54]:
df[['Z','Y']]

          Z         Y
A -1.159119 -1.706086
E  0.184502  0.166905
I  0.329646  0.638787
O  0.484752 -0.943406
U  1.996652  0.238127

In [55]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [58]:
df.iloc[0]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [61]:
df.loc['A','Y']

-1.7060859307350775

In [62]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
E -0.134841  0.390528  0.166905  0.184502
I  0.807706  0.072960  0.638787  0.329646
O -0.497104 -0.754070 -0.943406  0.484752
U -0.116773  1.901755  0.238127  1.996652

In [63]:
df.loc[['A','E'],['W','X']]

          W         X
A  0.302665  1.693723
E -0.134841  0.390528