# Pandas

In [2]:
import numpy as np
import pandas as pd

## Series

In [13]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
dic = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
countries = pd.Series([1,2,3,4],['USA','Germany','Poland','Japan'])
countries

USA        1
Germany    2
Poland     3
Japan      4
dtype: int64

In [21]:
countries * 2

USA        2
Germany    4
Poland     6
Japan      8
dtype: int64