# Vectors

In [2]:
vector_char <- c('Data', 'Science')
vector_char

[1] "Data"    "Science"

In [3]:
vector_num <- c(1.3, 45.3, 300.8)
vector_num

[1]   1.3  45.3 300.8

In [4]:
vector_complex <- c(5.4+3i, 3.2+4i)
vector_complex

[1] 5.4+3i 3.2+4i

In [6]:
vector_logic <- c(T, F, T, T, F)
vector_logic

[1]  TRUE FALSE  TRUE  TRUE FALSE

In [7]:
vector_int <- c(2,8,7)
vector_int

[1] 2 8 7

In [8]:
vector1 = seq(1:10)
vector1
is.vector(vector1)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] TRUE

In [9]:
vector2 <- rep(1:5)
vector2
is.vector(vector2)

[1] 1 2 3 4 5

[1] TRUE

In [11]:
a <- c(1:5)
a

[1] 1 2 3 4 5

In [12]:
a[1]

[1] 1

In [13]:
a[4]

[1] 4

In [14]:
a[6]

[1] NA

In [15]:
v1 = c(3,4,5)
v2 = c('aa', 'bb', 'cc', 'dd')
v1
v2

[1] 3 4 5

[1] "aa" "bb" "cc" "dd"

In [16]:
v3 = c(v1, v2)
v3

[1] "3"  "4"  "5"  "aa" "bb" "cc" "dd"

In [19]:
x = c(1,3,5,7)
y = c(2,4,6,8)

In [20]:
x + y

[1]  3  7 11 15

In [21]:
x * y

[1]  2 12 30 56

In [22]:
x - y

[1] -1 -1 -1 -1

In [23]:
x / y

[1] 0.5000000 0.7500000 0.8333333 0.8750000

## Named vector

In [25]:
person = c('Nelson', 'Mandela')

In [26]:
names(person) = c('name', 'surname')

In [27]:
person

     name   surname
 "Nelson" "Mandela"

In [28]:
person['name']

    name
"Nelson"

In [29]:
person['surname']

  surname
"Mandela"